body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/bgSahara.jpg');
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family:'zabars';
    src: url('../fonts/zabars/zabars.ttf') format('truetype');
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    /* font-style: 'zabars'; */
}

.dNone {
    display: none;
}

.screen {
    position: absolute;
    z-index: 99999;
    width: 720px;
    height: 480px;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .endscreen {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .endscreen {
        height: 100vh;
    }
}