body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/bgSahara.jpg');
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family:'zabars';
    src: url('../fonts/zabars/zabars.ttf') format('truetype');
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    /* font-style: 'zabars'; */
}

.dNone {
    display: none;
}

.screen {
    position: absolute;
    z-index: 99999;
    width: 720px;
    height: 480px;
}

.mobileActionBtn {
    position: absolute;
    z-index: 999999;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobileActionBtn img {
    height: 45px;
    width: 45px;
}

.mobileActionBtnTop {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

/* .mobileActionBtnTop img {
    padding: 10px;
} */

.mobileActionBtnTopImgDiv {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileActionBtnTop img:hover {
    cursor: pointer;
}

.mobileActionBtnTop img:active {
    height: 50px;
    width: 50px;
}

.mobileActionBtnBottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

.mobileActionBtnBottomImgDiv {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileActionBtnBottom>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .mobileActionBtnBottom img{
    margin: 10px;
} */

.mobileActionBtnBottom img:hover {
    cursor: pointer;
}

.mobileActionBtnBottom img:active {
    height: 50px;
    width: 50px;
}

.description {
    background-color: rgba(255, 255, 255, 0.2);
    width: 720px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.description>div {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    /* padding-left: 10p'x;
    padding-right: 10px;' */
    /* justify-content: flex-start; */
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .screen {
        width: 100%;
    }
    .description {
        width: 100%;
    }
    .description>div {
        width: unset;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .endscreen {
        height: 100vh;
    }
}