@font-face {
    font-family:'zabars';
    src: url('./fonts/zabars/zabars.ttf') format('truetype');
}

body {
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/bgSahara.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

canvas {
    background-color: black;
    display: block;
    position: relative;
    /* height: 480px;
    width: 720px; */
}


h1 {
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    /* font-style: 'zabars'; */
}

.dNone {
    display: none !important;
}

.screen {
    /* display: block; */
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: calc(100% - 104px); 
    /* wenn height: ... weg, dann kein Balken mehr beim ftp server */
    /* width: 720px; */
    object-fit: contain;
}

.rotatePhone {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.descriptionDummy {
    height: 104px;
    background-color: black;
}

/* .mobileActionBtn {
    position: absolute;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 104px);
} */

.loadingDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999;
    font-size: 2em;
}

.progressBar {
    height: 50px;
    width: 300px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.progressbarPercentage {
    background-color: orange;
    width: 100%;
    height: 100%;
}

.mobileActionBtn {
    position: absolute;
    height: 405px;
    width: 720px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.mobileActionBtn img {
    height: 45px;
    width: 45px;
}

.mobileActionBtnTop {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

/* .mobileActionBtnTop img {
    padding: 10px;
} */

.mobileActionBtnTopImgDiv {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.mobileActionBtnTop img:hover {
    cursor: pointer;
}

.mobileActionBtnTop img:active {
    height: 50px;
    width: 50px;
}

.mobileActionBtnBottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

.mobileActionBtnBottomImgDiv {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.mobileActionBtnBottom>div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .mobileActionBtnBottom img{
    margin: 10px;
} */

.mobileActionBtnBottom img:hover {
    cursor: pointer;
}

.mobileActionBtnBottom img:active {
    height: 50px;
    width: 50px;
}

.description {
    background-color: rgba(255, 255, 255, 0.2);
    width: 720px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
}

.description>div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 80px);
    padding: 20px;
    /* padding-left: 10p'x;
    padding-right: 10px;' */
    /* justify-content: flex-start; */
}

.levelDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 999999;
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: calc(100% - 104px); 
    width: 100%;
}

.levelBtn {
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: transparent;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.levelBtn:hover {
    background-color: rgba(255, 255, 255, 0.7); 
    cursor: pointer; 
}

.confirmFullscreenBtn {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .screen {
        width: 100%;
    }
    .description {
        width: 100%;
    }
    /* .description>div {
        width: unset;
    } */
    .mobileActionBtn {
        height: calc(100% - 104px) !important; 
        /* width: 100%; */
    }
}

@media only screen and (max-width: 600px) {
    .description>div {
        width: calc(50% - 20px);
        padding: 10px
    }
    .description {
        font-size: 1.4em;
    }
    .mobileActionBtn {
        /* height: 50%; */
        height: calc(100% - 64.8px) !important; 
    }
    .screen {
        height: calc(100% - 64.8px);
    }
    .levelDiv {
        height: calc(100% - 64.8px);
    }
    /* resposiveness mobileActionBtn fertig und alles nacheinander */
}

@media only screen and (max-width: 450px) {
    .levelBtn {
        font-size: 1em;
    }
    .mobileActionBtn img {
        height: 30px;
        width: 30px;
    }
    .mobileActionBtnBottomImgDiv {
        height: 35px;
        width: 35px;
    }
    .mobileActionBtnTopImgDiv {
        height: 35px;
        width: 35px;
    }
    .mobileActionBtnBottom img:active {
        height: 35px;
        width: 35px;
    }
    .mobileActionBtnTop img:active {
        height: 35px;
        width: 35px;
    }
    .progressBar {
        height: 25px;
        width: 150px;
    }
    .loadingDiv {
        font-size: 1em;
    }
}

@media only screen and (max-width: 350px) {
    .description {
        font-size: 1.2em;
    }
    .description>div {
        width: calc(50% - 2px);
        padding: 2px;
    }
    .mobileActionBtnTopImgDiv {
        height: 35px;
        width: 35px;
    }
    .mobileActionBtnTop img:active {
        height: 25px;
        width: 25px;
    }
    .mobileActionBtnBottom img:active {
        height: 25px;
        width: 25px;  
    }
    .mobileActionBtnBottom {
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .mobileActionBtn {
        height: calc(100% - 42.4px) !important;
    }
    .screen {
        height: calc(100% - 42.4px);
    }
    .levelDiv {
        height: calc(100% - 42.4px);
    }
    .mobileActionBtnBottomImgDiv {
        align-items: center;
        /* padding-bottom: 5px; */
    }
    .mobileActionBtn img {
        height: 20px;
        width: 20px;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    /* canvas {
        height: 100vh;
    }
    .screen {
        height: 100vh;
    }
    .mobileActionBtn {
        height: 100vh;
    } */
    
    /* .description {
        height: 50px;
    } */
    
/* element.style {
}
@media only screen and (max-width: 600px)
.mobileActionBtn {
    /* height: calc(100% - 64.8px); */
/* } */
}